@model _5032Project_v2.Models.AppointmentDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details of Your Appointment</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("User Name:")
        </dt>

        <dd>
            @Model.Appointment.FirstName @Model.Appointment.LastName
        </dd>

        <dt>
            @Html.DisplayName("Clinic Selected:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClinicName)
        </dd>

        <dt>
            @Html.DisplayName("Appointment Date and Time Slot:")
        </dt>

        <dd>
            @_5032Project_v2.Controllers.AppointmentsController.FormatAppointmentTime(Model.Appointment.DateTime)
        </dd>

        <dt>
            @Html.DisplayName("Current Appointment Status:")
        </dt>

        <dd>
            @if (Model.Appointment.Status == 0)
            {
                @:Waiting for approval
            }
            else if (Model.Appointment.Status == 1)
            {
                @:Approved
            }
            else if (Model.Appointment.Status == 2)
            {
                @:Waiting for the imaging
            }
            else if (Model.Appointment.Status == 3)
            {
                @:Jobs has been completed
            }
            else
            {
                @:Rejected
            }
        </dd>

        <dt>
            @Html.DisplayName("Your Feedback Rating:")
        </dt>

        <dd>
            @if (Model.Appointment.FeedbackRating == null)
            {
                @:Waiting for feedback rating
            }
            else
            {
                @Model.Appointment.FeedbackRating;
            }
        </dd>

        <dt>
            @Html.DisplayName("Your Feedback Comment:")
        </dt>

        <dd>
            @if (Model.Appointment.FeedbackComment == null)
            {
                @:Waiting for feedback comment
            }
            else
            {
                @Model.Appointment.FeedbackComment;
            }
        </dd>

    </dl>
    <br>
    <hr>
    @if (Model.MRIRecords != null && Model.MRIRecords.Any())
    {
        <div>
            <h3>MRI Records:</h3>
            <ul>
                @foreach (var mriRecord in Model.MRIRecords)
                {
                    <li>
                        <strong>Result:</strong> @mriRecord.Result
                        @if (!string.IsNullOrEmpty(mriRecord.FileName))
                        {
                            <span>
                                | <strong>File:</strong>
                                <a href="@Url.Content("~/Records/" + mriRecord.FileName)">
                                    @mriRecord.FileName
                                </a>
                            </span>
                        }
                    </li>
                }
            </ul>
        </div>
    }
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
