@model _5032Project_v2.Models.AppointmentViewModel


@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css" />

@{
    var statusList = new SelectList(
        new List<Object>
        {
            new { value = 0, text = "Waiting for approval" },
            new { value = 1, text = "Approved" },
            new { value = 2, text = "Waiting for the imaging" },
            new { value = 3, text = "Job has been completed" },
            new { value = 4, text = "Reject" }
                                                        },
        "value",
        "text",
        Model.Status
    );
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.AppointmentId)

    <h2>Edit Appointment for @Model.FirstName @Model.LastName</h2>
    <!-- rest of your form -->


    <div class="form-group">
        <h4>@Html.DisplayName("At Date Time:") @_5032Project_v2.Controllers.AppointmentsController.FormatAppointmentTime(Model.DateTime)</h4>
        @Html.HiddenFor(model => model.DateTime)
    </div>
    <br>
    <div class="form-group">
        <h3>@Html.DisplayName("Update the Appointment Status:")</h3>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Status, statusList, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
        </div>
    </div>
    <br>
    <hr>

    <div>
        <h3>
            MRI Records:     @Html.ActionLink("Add MRI Record", "AddMRIRecord", "Appointments", new { appointmentId = Model.AppointmentId }, new { @class = "btn btn-primary" })
        </h3>
        <ul>
            @foreach (var mriRecord in Model.MRIRecords)
            {
                <li>
                    <strong>Result:</strong> @mriRecord.Result
                    @if (!string.IsNullOrEmpty(mriRecord.FileName))
                    {
                        <span>
                            | <strong>File:</strong>
                            <a href="@Url.Content("~/Records/" + mriRecord.FileName)">
                                @mriRecord.FileName
                            </a>
                        </span>
                    }
                    @Html.ActionLink("Delete", "DeleteMRIRecord", "Appointments", new { id = mriRecord.Id }, new { onclick = "return confirm('Are you sure you want to delete this record?');", data_method = "post" })
                </li>
            }
        </ul>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js"></script>

    <script>
        $(function () {
            $('#datetimepicker1').datetimepicker({
                format: 'MM/DD/YYYY hh:mm A'
            });
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")}
